examples/guaranteed-email.json
[{"id":"78bcff9d.8c29c","type":"inject","z":"7e7868d06b3db971","name":"Send test email","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"to","v":"someone@somewhere.com","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"email subject","payload":"This is the email contents","payloadType":"str","x":200,"y":540,"wires":[["52c5b999.776288"]]},{"id":"52c5b999.776288","type":"link out","z":"7e7868d06b3db971","name":"","links":["26ef1404.562c74"],"x":335,"y":540,"wires":[]},{"id":"72e9a4edb56a84a7","type":"group","z":"7e7868d06b3db971","name":"Sending emails","style":{"label":true},"nodes":["40032b86.16b0dc","9d7e52ff.9373a","98d72bd3.c5c98","eada5d9a.8c60e","87580f77.38e0a","75675144.54ee98","26ef1404.562c74","a246571e.945ae8","3cea5327674bd3e3","61d9a8e40b20456a"],"x":94,"y":599,"w":752,"h":302},{"id":"40032b86.16b0dc","type":"link out","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"","links":["eada5d9a.8c60e"],"x":805,"y":820,"wires":[]},{"id":"9d7e52ff.9373a","type":"change","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"OK","rules":[{"t":"set","p":"control","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":820,"wires":[["40032b86.16b0dc"]]},{"id":"98d72bd3.c5c98","type":"change","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"FAIL","rules":[{"t":"set","p":"control","pt":"msg","to":"FAIL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":860,"wires":[["40032b86.16b0dc"]]},{"id":"eada5d9a.8c60e","type":"link in","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"","links":["40032b86.16b0dc"],"x":265,"y":780,"wires":[["3cea5327674bd3e3"]]},{"id":"87580f77.38e0a","type":"complete","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"","scope":["61d9a8e40b20456a"],"uncaught":false,"x":460,"y":820,"wires":[["9d7e52ff.9373a"]]},{"id":"75675144.54ee98","type":"catch","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"","scope":["61d9a8e40b20456a"],"uncaught":false,"x":440,"y":860,"wires":[["98d72bd3.c5c98"]]},{"id":"26ef1404.562c74","type":"link in","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"Email delivery","links":["52c5b999.776288"],"x":190,"y":680,"wires":[["3cea5327674bd3e3"]],"l":true},{"id":"a246571e.945ae8","type":"comment","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"Send email messages to this link","info":"","x":250,"y":640,"wires":[]},{"id":"3cea5327674bd3e3","type":"guaranteed-delivery","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","name":"","controlProperty":"control","OKValue":"OK","FAILValue":"FAIL","retrySecs":60,"timeout":120,"maxQueue":100,"contextStore":"default","x":420,"y":680,"wires":[["61d9a8e40b20456a"]]},{"id":"61d9a8e40b20456a","type":"e-mail","z":"7e7868d06b3db971","g":"72e9a4edb56a84a7","server":"smtp.gmail.com","port":"465","authtype":"BASIC","saslformat":true,"token":"oauth2Response.access_token","secure":true,"tls":true,"name":"","dname":"","x":450,"y":760,"wires":[]}]
